<div class="container-fluid home-image">
  <div class="center jumbotron transparent-background vcenter">
    <h1 class="white">ALPHA BLOG</h1>
    <a class="btn btn-info btn-lg btn-xlarge" href="/signup">Sign up now</a>
  </div>
</div>
