@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.full-width {
  width:100%;
}

// Margin
.no-margin-bottom {
  margin-bottom: 0 !important;
}

.jumbotron {
  margin-top: 200px;
  h1 {
    margin-bottom: 30px;
  }
}

.no-border-radius {
  border-radius: 0;
}

.home-image {
  background: url(asset-path('background.jpeg')) center center fixed no-repeat;
  background-size: cover;
  position: fixed;
  width:100%;
  height:100%;
}

// Text color
.white {
  color: white !important;
}

// Background
.transparent-background {
  background: transparent;
}

// Position
.center {
  text-align: center;
}

.relative {
  position: relative;
}

.bottom {
  position: fixed;
  width:100%;
  bottom: 0;
}

.btn-xlarge {
  font-size: 1.7em;
}

// Footer
footer {
  width:80%;
  margin-top: 45px;
  padding-top: 5px;
  color: #777;

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.row-for-message {
  margin-top: 15px;
}

// Article show page
.article-description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}